1.	Explain the key features of Python that make it a popular choice for programming.
Answer
•	Python is a programming language that is easy to understand and write, making it a popular choice among developers and programmers. 
•	It is compatible with various programming paradigms, such as procedural, object-oriented, and functional programming. 
•	Python has a large and active community of developers, an extensive standard library, and third-party packages for various domains.


2.	Describe the role of predefined keywords in Python and provide examples of how they are used in a program.
Answer
•	Keywords are reserved words in Python that have special meanings and cannot be used as identifiers (variable names, function names, etc.)
•	Examples of keywords include if, else, while, for, def, class, import, try, except, return, True, False, None, etc.

In [3]:
#some keywords are:-
if 5 > 2:
    print("greater")

greater

In [8]:
#Example over type 
a = 1
b = 3.5
type(a)

int

In [7]:
type(b)

float

In [13]:
#example over if, else,
name = input("please enter your name")
email = input("please enter your email")
password = input("please enter your password")

if name == "":
    print("please enter a valid name , cannot be empty")
else:
    if "@" not in email:
        print("Please enter a valid email")
    else:
        if len(password) < 1:
            print("No password entered, pls provide a valid password")
        else:
            print("Registration is successfull")

please enter your name anand
please enter your email @
please enter your password e

Registration is successfull

3. Compare and contrast mutable and immutable objects in Python with examples.
•	In Python, objects can be either changeable (modifiable) or unchangeable (unchangeable). 
•	Mutable objects, such as lists and dictionaries, can be modified after creation, while immutable objects, such as tuples and strings, cannot. 
•	Mutability affects how objects are stored and manipulated in memory, impacting performance, memory usage, and concurrency in Python programs.

In [14]:
#example of mutable object
##list(mutable)
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [16]:
#To modify the first element of my_litst
my_list[0] = 11
print(my_list)##11 got added

[11, 2, 3, 4, 5]

In [17]:
#immutable objects, such as tuples and strings, cannot be modiffied
##String 
my_string = "Hello"
print(my_string)

Hello

In [18]:
#Attempting to modify a string..>> it will throw an error
my_string[0] = h
print(my_string)

NameError: name 'h' is not defined

In [19]:
#another example of immutable objects ...
my_tuple = (1, 2, 3, 4 )
print(my_tuple)

(1, 2, 3, 4)

In [20]:
#try to modify tupple it will throw error....
my_tuple[0] = 11

TypeError: 'tuple' object does not support item assignment

4. Discuss the different types of operators in Python and provide examples of how they are used.
•	Operators are special symbols or keywords that are used to carry out specific actions on numbers or variables in Python expressions. 
•	Python supports various types of operators, including arithmetic operators (+, -, *, /), comparison operators (==, !=, <, >), logical operators (and, or, not), assignment operators (=, +=, -=, *=, /=),Membership operators (in, not in ) etc.
•	Operators have precedence and associativity rules that determine the order of evaluation in expressions.

In [25]:
#Arithmetic operators

##addition
result = 10 + 2
print(result1)

#floor division 
result = 10 // 2 
print(result)

#multiplication
result = 2*3
print(result)

12
5
6

In [29]:
#comparision operators 
result1 = 5 > 3

result2 = 10 == 10

result3 = 10 != 5
print(result1, result2, result3)

True True True

In [37]:
#logical operators (and, or, not)
result = (5 > 3) and (2 < 4)
print(result)



result = not (5 > 3)
print(result)


result= (5 > 3) or (2 > 4)
print(result)

True
False
True

In [38]:
#assignment operators (=, +=, -=, *=, /=)
a = 10 
a += 5
print(a)

#subtract
a -= 3 
print(a)

15
12

In [48]:
#Membership operators (in, not in )
result  = 'a' in 'apple' 
print(result)

result1 = 10 not in [1, 2, 3]
print(result)

True
True

5. Explain the concept of type casting in Python with exaples.
•	Type casting, also referred to as type conversion, is the process of changing one data type to another in Python. 
•	Python provides built-in functions for type casting, such as int(), float(), str(), list(), tuple(), dict(), etc.
•	Type casting is often necessary for performing arithmetic operations, data manipulation, and input/output operations in Python programs.

In [49]:
# Implicit Type Casting (Automatic)
x = 5         # Integer
y = 3.14      # Float

result = x + y  # Python automatically converts 'x' to a float before adding
print(result)  # Output: 8.14

8.14

In [52]:
#From string to integer
s = "123"
num = int(s)
print(num)

123

In [56]:
#sting to float 
s = 42.47
num = float(s)
print(num)
type(num)

42.47

float

In [57]:
#float to integer(removing decimal to accurate value)
x = 4.45
y = int(x)
print(y)

4

In [60]:
#from list to tuple
lst = [1, 2, 3]
tpl = tuple(lst)
print(tpl)
type(tpl)

(1, 2, 3)

tuple

In [62]:
#from tuple to list
tpl = [91, 2, 3]
lst = list(tpl)
print(lst)
type(lst)

[91, 2, 3]

list

In [63]:
#from string to list>>>splitting the string
s = "hello"
lst = list(s)
print(lst)
type(lst)

['h', 'e', 'l', 'l', 'o']

list

6. How do conditional statements work in Python? Illustrate with examples.
•	Conditionals in Python are used to execute code based on the evaluation of one or more conditions.
•	Python supports conditional statements such as if, elif (else if), and else to control the flow of execution.
•	Conditionals can be nested to handle multiple conditions and control different branches of execution based on the outcome of logical expressions.

In [64]:
#conditional statements .....example
a = int(input("Enter a no"))
if a >= 100:
    print("The no is grater than 100")
elif 0<=a<100:
    print("The no is grater than 0 and less than 100")
else:
    print("THis is a negative no")

Enter a no 900

THe no is grater than 100

In [69]:
#conditional statements .....2nd example
x = int(input("Enter a no"))

if x < 5:
    print("x is less than 5")
elif x < 10:
    print("x is between 5 and 9")
elif x < 15:
    print("x is between 10 and 14")
else:
    print("x is 15 or grater")

Enter a no 11

x is between 10 and 14


7. Describe the different types of loops in Python and their use cases with examples.
•	In Python, loops are employed to repeat a sequence of actions or code until a specific condition is fulfilled. 
•	Python offers two primary types of loops: for loops and while loops. 
•	“for” loops are used for iterating over a sequence of elements, while “while” loops are used for executing code until a specified condition becomes False

In [71]:
#examplex of loop
n = 9
i = 1 
while i < n:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8

In [72]:
count = 6 
while count > 0:
    print(count)
    count = count - 1

6
5
4
3
2
1

In [73]:
#using range 
for i in range(5):
    print(i)

0
1
2
3
4

In [74]:
for i in range(10):
    if i == 5:
        print("Breaking the loop at i =", i)
        break
    print(i)

0
1
2
3
4
Breaking the loop at i = 5

In [5]:
##print a right triangle with * using while loop 
row = 1 
while row <= 8:
    col = 1
    while col <= row:
        print("*", end = "")
        col = col+1
    print()
    row = row+1

*
**
***
****
*****
******
*******
********

In [2]:
#multiplication table 
for i in range(1, 6):
    for j in range(1, 11):
        product = i * j
        print (f"{i} * {j} = {product}")
    print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [4]:
print("End Of 1st Python  Assingment ")

End Of 1st Python  Assingment